@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
.top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 
          after:lg:bg-coffee-200  after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}
.lewis-icon {
  @apply w-5 h-5 inline-block;
}
.lewis-badge-circle {
  @apply text-xs text-center rounded-full px-1.5;
}
.lewis-top-menu-expanded {
  @apply absolute top-10 z-50 w-full bg-white text-center animate-slideDown;
}
.lewis-button {
  @apply uppercase font-medium py-4 px-6 cursor-pointer hover:bg-opacity-90 rounded-md;
}
